<!-- <div class="calendar-container">
  <div class="small-calendar">
    <app-small-calendar></app-small-calendar>
  </div>
  <div class="main-content">
    <div class="header">
      <h2>My Calendar</h2>
      <button mat-raised-button color="primary" (click)="openDialog()">
        Add Meeting
      </button>
    </div>
    <div class="calendar-grid">
      <div class="day-header" *ngFor="let day of daysOfWeek">{{ day }}</div>
      <div
        class="day-cell"
        *ngFor="let day of daysInMonth"
        [attr.data-day]="day"
        (click)="openDialog(day)"
        (keydown.enter)="openDialog(day)"
        (keydown.space)="openDialog(day)"
        tabindex="0"
        role="button"
        cdkDropList
        [cdkDropListData]="appointmentsByDay[day] || []"
        (cdkDropListDropped)="drop($event, day)"
        [cdkDropListConnectedTo]="dayContainers"
        [id]="'day-' + day"
      >
        <div class="day-number">{{ day }}</div>
        <ng-container *ngFor="let appointment of appointmentsByDay[day]">
          <mat-card
            cdkDrag
            class="appointment-card"
            [cdkDragData]="appointment"
            (click)="openAppointmentDetails($event, appointment)"
            [matTooltip]="getTooltipText(appointment)"
            matTooltipClass="appointment-tooltip"
          >
            <mat-card-content>
              <div class="appointment-title">
                {{ appointment.title }}
                <span class="appointment-time">
                  {{ formatTimeToAMPM(appointment.startTime) }} -
                  {{ formatTimeToAMPM(appointment.endTime) }}
                </span>
              </div>
              <button
                mat-icon-button
                (click)="deleteAppointment(appointment.id, $event)"
                (keydown.enter)="deleteAppointment(appointment.id, $event)"
                (keydown.space)="deleteAppointment(appointment.id, $event)"
                aria-label="Delete appointment"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</div> -->

<div class="calendar-container">
  <div class="small-calendar">
    <app-small-calendar></app-small-calendar>
  </div>
  <div class="main-content">
    <div class="header">
      <h2>My Calendar</h2>
      <button mat-raised-button color="primary" (click)="openDialog()">
        Add Meeting
      </button>
    </div>
    <div class="calendar-grid">
      <div class="day-header" *ngFor="let day of daysOfWeek">{{ day }}</div>
      <div
        class="day-cell"
        *ngFor="let day of daysInMonth"
        [attr.data-day]="day"
        (click)="openDialog(day)"
        (keydown.enter)="openDialog(day)"
        (keydown.space)="openDialog(day)"
        tabindex="0"
        role="button"
        cdkDropList
        [cdkDropListData]="(appointmentsByDay$ | async)?.[day] || []"
        (cdkDropListDropped)="drop($event, day)"
        [cdkDropListConnectedTo]="connectedTo"
        [id]="'day-' + day"
      >
        <div class="day-number">{{ day }}</div>
        <ng-container
          *ngFor="let appointment of (appointmentsByDay$ | async)?.[day]"
        >
          <mat-card
            cdkDrag
            class="appointment-card"
            [cdkDragData]="appointment"
            (click)="openAppointmentDetails($event, appointment)"
            [matTooltip]="getTooltipText(appointment)"
            matTooltipClass="appointment-tooltip"
          >
            <mat-card-content>
              <div class="appointment-title">
                {{ appointment.title }}
                <span class="appointment-time">
                  {{ formatTimeToAMPM(appointment.startTime) }} -
                  {{ formatTimeToAMPM(appointment.endTime) }}
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
